:root {
    --primary-color: rgb(95, 158, 160);
    --secondary-color: rgb(245, 245, 220);
    --tertiary-color: rgb(85, 148, 150);
    --bg-PP-color: rgb(64, 144, 220);
  }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--primary-color);
    color: beige;
}

#devDread{
    /* text-decoration: none; */
    color: blue;
}

  .loader {
    position: fixed;
    background-color: var(--tertiary-color);
    height: 100vh;
    z-index: 1000;
    inset: 0;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 0.9ms 2s alternate forwards;
    transform-origin: top;
  }
 
  .fa-certificate {
    position: inherit;
    color: var(--primary-color);
    font-size: 120px;
  }
  @keyframes loader {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  } 
  h1 {
    text-align: center;
    color: var(--secondary-color);
    padding-top: 64px;
  }

  h3{
    color: var(--secondary-color);

  }

  h4{
    color: var(--secondary-color);
  }
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
  }
  #photoProfil {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--tertiary-color);
  }
  
  .child {
    gap: 32px;
    margin-top: 32px;
  }
  .imgRS {
    height: 64px;
    width: 64px;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
  }
  a {
    text-decoration: none;
  }
  #footer-p {
    opacity: 0.7;
    display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 8px;

    
  }
  
  
  
  @media (min-width: 850px) {
   
    #photoProfil {
      height: 256px;
      width: auto;
      border: 6px solid var(--tertiary-color);
      margin-top: -4rem;
      background-color: var(--bg-PP-color);
    }
    .container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-around;
    }
    .child a :hover {
      color: var(--secondary-color);
    }
    .imgRS {
      height: 128px;
      width: auto;
      border: 4px solid var(--secondary-color);
      border-radius: 32px;
    }
    h1 {
      font-size: 6rem;
      padding-top: 32px;
    }
    #footer-p{
     
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 16px;

    }
  }